.background {
  width: 10%;
  background-color: blueviolet;
}
.header {
  width: 10%;
  height: 10vh;
  background-color: aquamarine;
}
.nabao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buteel {
  border: 1px solid goldenrod;
  color: goldenrod;
  border-radius: 30px;
}
